{% form_theme form 'bootstrap_3_layout.html.twig'%}

{{ form_start(form) }}
<div class="formStep" >
    <div class="headingDiv">
        <div class="stepTitle">Step 1: Your details</div>
    </div>
    <div class="formContent" id="stepOne">
        <div class="errorMsg"></div>
        <div class="row">
            <div class="col-sm-4">
                {{ form_row(form.fName, { 'id': 'fName'}) }}
                <div id="fNameErr"></div>
            </div>
            <div class="col-sm-4">
                {{ form_row(form.lName, { 'id': 'lName'}) }}
                <div id="lNameErr"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                {{ form_row(form.email, { 'id': 'email'}) }}
                <div id="emailErr"></div>
            </div>
        </div>
        <div id="navbtn">
            <button type="button" id="btnOne">Next &#62;</button>
        </div>
    </div>
</div>

<div class="formStep" >
    <div class="headingDiv">
        <div class="stepTitle">Step 2: More comments</div>
    </div>
    <div class="formContent hiddenStep" id="stepTwo">
        <div class="errorMsg"></div>
        <div class="row">
            <div class="col-sm-4">
                {{ form_row(form.mobile, { 'id': 'mobile'}) }}
                <br>
                <div id="mobileErr"></div>
            </div>
            <div class="col-sm-4">
                {{ form_row(form.gender, { 'id': 'gender'}) }}
                <br>
                <div id="genderErr"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-7">
                {{ form_row(form.dateOfBirth, { 'id': 'dateOfBirth'}) }}
                <br>
                <div id="dateOfBirthErr"></div>
            </div>
        </div>
        <div id="navbtn">
            <button type="button" id="btnTwo">Next &#62;</button>
            <button type="button" id="bBtnTwo">&#60; Back</button>
        </div>
    </div>
</div>
<div class="formStep" >
    <div class="headingDiv">
        <div class="stepTitle">Step 3: Final comments</div>
    </div>
    <div class="formContent hiddenStep" id="stepThree">
        {{ form_row(form.comments, { 'id': 'comments'}) }}
        <div class="navbtn">
            {{ form_row(form.submit) }}
            <button type="button" id="bBtnThree">&#60; Back</button>
        </div>
        {{ form_end(form) }}
    </div>
</div>